
/*Configuracion del grid****************************************************************************** */
section {
  display: grid;
  
  margin: 10px 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px auto auto auto;
  grid-template-areas:
    "imgprin imgprin imgprin"
    "titulo titulo titulo "
    "articulo1 articulo2 articulo3"
    "articulo4 articulo5 articulo6";
  
  justify-content: center;
  padding: 10px;
}




/*  .video{

  grid-area: video;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  justify-content: center;
}   */


#tituloindex {
  grid-area: imgprin;
  width: 100%;
  
  background-image: url("../image/Cocteles.jpg");
  padding: 20px;
  
  margin: 15px;
  border-radius: 15px;
  color: #fafafa;
  width: auto;
  height: auto;
 
}
.t2 {
  grid-area: titulo;
  font-size: 50px;
  
  padding: 50px 0px 0px 20px;
  border: 2px ;
  margin: 1px;
 
  color: #724333;
 
}


.t2tema {
  
  color: #fbfbfb;
 
}

.receta1 {
  grid-area: articulo1;
  background-color: rgb(248, 246, 246);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: auto;
  align-items: center;
  
  
}

.receta1t {
  
  background-color: rgb(58, 56, 56);
  color: white;

}

.receta2 {
  grid-area: articulo2;
  background-color: rgb(248, 246, 246);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: auto;
  align-items: center;
  
}

.receta2t {
  
  background-color: rgb(58, 56, 56);
  color: white;

}
.receta3 {
  grid-area: articulo3;
  background-color: rgb(248, 246, 246);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: auto;
  align-items: center;
  
}
.receta3t {
  
  background-color: rgb(58, 56, 56);
  color: white;

}

.receta4 {
  grid-area: articulo4;
  background-color: rgb(248, 246, 246);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: auto;
  align-items: center;
  
}

.receta4t {
  
  background-color: rgb(58, 56, 56);
  color: white;

}

.receta5 {
  grid-area: articulo5;
  background-color: rgb(248, 246, 246);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: auto;
  align-items: center;
  
}

.receta5t {
  
  background-color: rgb(58, 56, 56);
  color: white;

}

.receta6 {
  grid-area: articulo6;
  background-color: rgb(248, 246, 246);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: auto;
  align-items: center;
  
}

.receta6t {
  
  background-color: rgb(58, 56, 56);
  color: white;

}






.imagencatalogo {

  border-radius: 20px;
  width: 100%;
}


.linkrecetas {
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  color: #724333;
  
  border-radius: 15px;
  padding: 3px;
}

.linkrecetastema {
  color: #f8f5f4;
  
}



.linkrecetas:hover{
  color: white;
background-color: #255538;
}


.linkrecetastema:hover{
  color: rgb(5, 1, 1);
background-color: #f2f5f3;


}

.infreceta{
  padding: 20px;
margin: 0 20px;


}




/*adaptacion a 800 o menos px***************************************************************************** */

@media screen and (max-width: 800px) {

  /*Configuracion del grid****************************************************************************** */
  #contenedorgidindex {
    display: grid;
    
    margin: 0 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px auto auto auto auto;
    grid-template-areas:
      "imgprin imgprin" 
      "titulo titulo" 
      "articulo1 articulo2"
      "articulo3 articulo4" 
      "articulo5 articulo6";
    
    justify-content: center;
    padding: 5px;
  
  }
  
}



/*adaptacion a 480 o menos px***************************************************************************** */

@media screen and (max-width: 480px) {

  #contenedorgidindex {
    display: grid;
    
    margin: 0 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
      "imgprin"
      "titulo"
      "articulo1"
      "articulo2"
      "articulo3"
      "articulo4" 
      "articulo5"
      "articulo6";
    
    justify-content: center;
    padding: 5px;
  
  }


  #tituloindex {
    text-align: center;
    background-image:  none;  /*url("../image/Cocteles3.jpg");*/
    padding: 20px;
    border: none;
    margin: 5px;
    border-radius: 15px;
    color: #255538;
    font-size: 40px;
    width: auto;
    height: auto;
   
  }
}



  