.mainenviatureceta {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  
  background-color: white;
  justify-content:left;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
}

.maintema{
  background-color: #2b2b29;
  color: white;
}

h1 {
  color: #724333;
  margin: 10px auto;
}

.h1tema {
  color: #faf8f8;
  
}

label{
  width: 100%;
  display: inline-block;
  color: #724333;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

label{
  
  color: #f9f7f6;
  
}



input{
  height: 40px;
  width: 100%;
  background-color: rgb(243, 237, 237);
  border-radius: 8px;
  border-color: #724333;
  padding: 15px;
  font-size: 15px;
}

.inputtema{
  background-color: #7c7c78;
}



textarea{
  height: 200px;
  width: 100%;
  background-color: rgb(243, 237, 237);
  border-radius: 15px;
  border-color: #724333;
  padding: 15px;
  font-size: 15px;
  
}
.textareatema{
  background-color: #7c7c78;
}



button{
  margin-top: 10px;
  border-radius: 10px;
  height: 35px;
  width: 100px;

  color: aliceblue;
  background-color: #255538;
  justify-items: left;

}
