/*Configuracion del grid****************************************************************************** */
#contenedorgid {
  display: grid;
  
  margin: 0 60px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 100px;
  grid-template-areas:
    "articulo lateral1"
    "articulo lateral2"
    "articulo lateral3";

  justify-content: center;
  padding: 30px;
}
/*Configuracion del articulo principal****************************************************************************** */
.artrecetas {
  grid-area: articulo;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  justify-items: auto;
}

.artrecetastema {
  color: white;
  background-color: rgb(58, 56, 56);
  justify-items: auto;
  
}

#imgprincipal {
  width: 100%;
  border-radius: 10px;
}
.contenidoprincipal {
  padding: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  text-align: justify;
}
.p2 {
  padding: 20px 50px;
  margin: 10px;
  border-radius: 10px;
  background-color:#255538;
  
}
/*Configuracion del lateral derecho superior****************************************************************************** */
.secioneslaterales1 {
  grid-area: lateral1;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}

.secioneslaterales1tema {
  color: white;
  background-color: rgb(61, 59, 59);
}

.listaingre {
  padding: 15px;
  text-align: justify;
}

.tdcont {
  border-bottom: 1px solid #7e4333;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
  font-family: "DM Sans", sans-serif;
}
.tablacont tr td:nth-of-type(2) {
  text-align: end;
  color: #7e4333;
}


.tablaconttema tr td:nth-of-type(2) {
  text-align: end;
  color: #f3eeed;
}

/*Configuracion del lateral derecho medio****************************************************************************** */
.secioneslaterales2 {
  grid-area: lateral2;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}


.secioneslaterales2tema {
  color: white;
  background-color: rgb(61, 59, 59);
}


.divmejores {
  display: flex;
  margin: 10px auto;
  width: auto;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}
.imgmejores {
  max-height: 100px;
  max-width: 100px;
  margin: 5px;
  border-color: #724333;
  border-radius: 15px;
  border-style: double;
}






/*Configuracion titulos****************************************************************************** */

.titulo2 {
  color: #724333;
  padding: 10px;
  font-size: 50px;
  font-family: "DM Sans", sans-serif;
}

.titulo2tema {
  color: #faf9f8;
 
}

.titulo3 {
  color: #724333;
  padding: 30px;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}

.titulo3tema {
  color: #faf9f8;
 
}




.titulo3info {
  color: white;
  padding: 20px;
  font-size: 2pc;
  font-family: "DM Sans", sans-serif;
}

.titulo3infotema {
  color: #faf9f8;
 
}


.contenidoprincipal{
  
  font-family: "DM Sans", sans-serif;
  font-size: 16px;

}


.titulo4 {
  color: #724333;
  padding: 15px;
  font-size: 1pc;
  font-family: "DM Sans", sans-serif;
}

.titulo4tema {
  color: #faf9f8;
 
}


.contenido {
  text-align: justify;
  padding: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
}

.tdcont {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}


.tdconttema {
  color: white;
}



.lisdesdatos {
  text-align: justify;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
 margin-top: 2px;
 color: white;

}



.lisdes {
  text-align: justify;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
 margin-top: 2px;

}

.lisdespre {
  text-align: justify;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
 margin-top: 20px;

}



/*adaptacion a 600 o menos px***************************************************************************** */





@media screen and (max-width: 600px) {

/*Configuracion del grid****************************************************************************** */
#contenedorgid {
  display: grid;
  
  margin: 0 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto 100px;
  grid-template-areas:
    "articulo" 
    "articulo" 
    "articulo"
    "lateral1" 
    "lateral2"
    "lateral3";
 
  justify-content: center;
  padding: 5px;

}
}


